
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.row{
margin-top: 40px;
}

.col-md-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h3{
    font-family: cursive;
    font-size: 3rem;
    margin-bottom: 30px;
}

button{
    margin-bottom: 30px;
    width: 120px;
}
img{
    width: 90%;
}
